<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whywasteapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_whywaste"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_whywaste"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhyWasteApp">

        <activity android:name=".donate.SelectAreaForDonate"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".login.signup.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intro.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".donate.DonateMoneyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>